button{
  width: 100%;
  padding: 2em 4em;

  border-radius: 10px;
  border: 1px solid var(--white);
  
  background: none;

  position: relative;
  z-index: 1;
}

button::before{
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--white);
  border-radius: 10px;
  z-index: -1;
  transform: scaleX(0);
  transition: all linear 300ms;
}

button:hover::before{
  transform: scaleX(1);
}

button:hover
{
  color: var(--black);
  transition: all linear 300ms;
}

.disabled{
  color: grey;
  border: 1px solid grey;
}

.disabled:hover::before{
  transform: scaleX(0);
}

.disabled:hover{
  color: grey;
  cursor:not-allowed;
}