.wrapper{
  display: flex;
  gap: 1em;
}

.difficulty .container button{
  padding: 1.5em 2em;
}

.btn-active{
  color: var(--black);
}

.difficulty .container button.btn-active::before{
  transform: scaleX(1);
}