h1{
  font-size: 4.5rem;
  text-align: center;
  
  margin: 0.3em 0;
}

.game-board .container{
  display: flex;
  flex-direction: column;
  
  border: 1px solid var(--white);
  border-radius: 25px;
  
  background-color: rgb(255, 255, 255, 0.20);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.30);
  
  padding: 1em 0;
  max-width: 600px;
}

.game-board .container .top-section{
  width: fit-content;
  
  margin: 0 auto;
  padding: 0.5em 1em;
  
  border: 1px solid var(--white);
  border-radius: 25px;
}

.row{
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.row + .row{
  margin-top: 0.3em;
}

.top-section .row:has(.big-circle){
  padding: 0.3em 0.5em;
  
  border: 1px solid (--white);
  border-radius: 25px;
}

.top-section .row .guess-section{
  border: none;
}

.computer-row{
  margin-bottom: 1.5em;
}

.computer-row .big-circle p{
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  
  text-align: center;
  transform: translateY(-75%);
}

.big-circle{
  height: 3rem;
  width: 3rem;
  
  border-radius: 50%;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.small-circle{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.big-circle, .small-circle{
  border: 1px solid var(--white);
  background-color: hsl(0, 0%, 40%);
}

.game-board .bottom-section{
  margin-top: 1.5em;
}

.controls{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board .bottom-section .controls button,
.end-screen button{
  width: fit-content;
  padding: 1em 4em;
}

.error-message{
  text-align: center;
  color: #ff0000;
}

.end-screen{
  margin: 0 auto;
  padding: 1em 5em;
  
  text-align: center;
  
  border: 1px solid var(--white);
  border-radius: 25px;
  
  background-color: rgb(255, 255, 255, 0.20);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.30);
  
  width: fit-content;
  
  display: flex;
  flex-direction: column;
}

.end-screen p{
  margin-bottom: 0.5em;
}

.end-screen button{
  display: block;

  margin: 0 auto;
  margin-top: 1em;
  
  min-width: 21em;
}

.hide{
  display: none;
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: rgb(0, 128, 0);
}

.blue {
  background-color: rgb(0, 0, 255);
}

.yellow {
  background-color: rgb(255, 255, 0);
}

.brown {
  background-color: rgb(165, 118, 42);
}

.orange {
  background-color: rgb(255, 165, 0);
}

.black {
  background-color: rgb(0, 0, 0);
}

.white {
  background-color: rgb(255, 255, 255);
}